Repository nutriagentpjt/nutriagentpjt: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint, local-ruff-check, local-ruff-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']  # 1MB 이상 파일 차단
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      # Frontend linting (ESLint)
      - id: local-eslint
        name: eslint
        entry: npm --prefix frontend run lint
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      # Python linting (backend-fastapi)
      - id: local-ruff-check
        name: ruff check
        entry: uv run --directory backend-fastapi ruff check . --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: system
        types: [python]
        files: ^backend-fastapi/.*\.py$
        pass_filenames: false

      # Python formatting (backend-fastapi)
      - id: local-ruff-format
        name: ruff format
        entry: uv run --directory backend-fastapi ruff format . --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: system
        types: [python]
        files: ^backend-fastapi/.*\.py$
        pass_filenames: false

feat: GitHub Actions CI/CD 워크플로우 추가 (#23)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

feat: CI에 프론트엔드 테스트 추가 + CD 수동 트리거 지원
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

feat: CI에 프론트엔드 테스트 추가 + CD 수동 트리거 지원 (#24)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: CD 배포 경로 수정 (/project → ~/nutriagentpjt)
  .github/workflows/cd.yml
Due: none

fix: CD 배포 경로 수정 (/project → ~/nutriagentpjt) (#25)
  .github/workflows/cd.yml
Due: none

feat: add vision backend
  .env.example
  .gitignore
  backend-fastapi/vision/.dockerignore
  backend-fastapi/vision/.env.example
  backend-fastapi/vision/Dockerfile
  backend-fastapi/vision/README.md
  backend-fastapi/vision/app/config.py
  backend-fastapi/vision/app/db.py
  backend-fastapi/vision/app/inference.py
  backend-fastapi/vision/app/main.py
  backend-fastapi/vision/app/model.py
  backend-fastapi/vision/app/retrieval.py
  backend-fastapi/vision/app/schemas.py
  backend-fastapi/vision/data/merged_food_db_keyword_avg.csv
  backend-fastapi/vision/requirements.txt
  backend-fastapi/vision/scripts/init_db.py
  backend-fastapi/vision/scripts/load_embeddings.py
  backend-fastapi/vision/scripts/load_foods.py
  backend-fastapi/vision/scripts/test_inference.py
  backend-fastapi/vision/sql/schema.sql
  docker-compose.yml
Due: local-ruff-check, local-ruff-format

feat: DINOv3+CLIP 모델 이식 및 1280차원 마이그레이션 완료
  backend-fastapi/vision/.env.example
  backend-fastapi/vision/README.md
  backend-fastapi/vision/app/config.py
  backend-fastapi/vision/app/model.py
  backend-fastapi/vision/data/merged_food_db_keyword_avg.csv
  backend-fastapi/vision/data/vision_nutrition_148.csv
  backend-fastapi/vision/requirements.txt
  backend-fastapi/vision/scripts/load_embeddings.py
  backend-fastapi/vision/scripts/load_foods.py
  backend-fastapi/vision/sql/schema.sql
Due: local-ruff-check, local-ruff-format

feat: Food 스키마 확장 및 카테고리/보충제 필터링 추가
  backend-fastapi/app/models/food.py
  backend-fastapi/app/services/food_filter.py
Due: local-ruff-check, local-ruff-format

feat: 추천 다양성 알고리즘 개선
  backend-fastapi/app/services/recommendation.py
Due: local-ruff-check, local-ruff-format

fix: DB 세션 안정성 개선 및 CORS 미들웨어 추가
  backend-fastapi/app/api/deps.py
  backend-fastapi/app/core/database.py
  backend-fastapi/main.py
  backend-fastapi/pyproject.toml
  backend-fastapi/uv.lock
Due: local-ruff-check, local-ruff-format

fix: Bedrock 자격증명 명시 및 챗봇 안정성 개선
  backend-fastapi/app/chatbot/engine.py
  backend-fastapi/app/chatbot/router.py
  backend-fastapi/app/core/config.py
Due: local-ruff-check, local-ruff-format

feat: Spring → FastAPI 챗봇 프록시 컨트롤러 추가
  backend-spring/src/main/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/RestTemplateConfig.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/entity/NutritionTarget.java
  backend-spring/src/main/resources/application.properties
  backend-spring/src/test/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyControllerTest.java
  docker-compose.yml
Due: none

fix: CodeRabbit 리뷰 반영 - 프록시 헤더 누락 및 에러 포워딩 수정
  backend-spring/src/main/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyController.java
  backend-spring/src/main/resources/application.properties
  backend-spring/src/test/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyControllerTest.java
Due: none

feat: Spring → FastAPI 챗봇 프록시 컨트롤러 추가 (#27)
  backend-spring/src/main/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/RestTemplateConfig.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/entity/NutritionTarget.java
  backend-spring/src/main/resources/application.properties
  backend-spring/src/test/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyControllerTest.java
  docker-compose.yml
Due: none

fix: CD 스크립트 docker compose V2로 변경 (v1 호환성 오류 수정)
  .github/workflows/cd.yml
Due: none

fix: chat proxy에서 JSESSIONID를 FastAPI로 전달 (onboarding tool 콜백 지원)
  backend-spring/src/main/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyController.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyControllerTest.java
Due: none

feat: integrate backend-driven recommendations, chat sessions, and settings management
  backend-spring/.gradle/8.14.3/checksums/checksums.lock
  backend-spring/.gradle/8.14.3/executionHistory/executionHistory.lock
  backend-spring/.gradle/8.14.3/fileHashes/fileHashes.bin
  backend-spring/.gradle/8.14.3/fileHashes/fileHashes.lock
  backend-spring/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  frontend/src/components/HomePage.tsx
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/macro-card.tsx
  frontend/src/components/profile/PersonalSettingsAllergies.tsx
  frontend/src/components/profile/PersonalSettingsDiet.tsx
  frontend/src/components/profile/PersonalSettingsDiseases.tsx
  frontend/src/components/profile/PersonalSettingsLifestyle.tsx
  frontend/src/components/profile/PersonalSettingsRecommendation.tsx
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/components/recommendation/FeedbackButtons.tsx
  frontend/src/components/recommendation/RecommendationCard.tsx
  frontend/src/hooks/usePreferences.ts
  frontend/src/pages/Recommendation/RecommendationPage.tsx
  frontend/src/pages/Recommendation/SettingsPage.tsx
  frontend/src/services/aiAgentService.ts
  frontend/src/services/api.ts
  frontend/src/services/onboardingService.ts
  frontend/src/services/recommendationService.ts
  frontend/src/types/index.ts
  frontend/src/types/onboarding.ts
  frontend/src/types/profile.ts
  frontend/vite.config.ts
Due: local-eslint

feat: fastapi 컨테이너에 AWS Bedrock 자격증명 환경변수 추가
  docker-compose.yml
Due: none

feat: refine home and recommendation flows with backend-aligned UX updates
  frontend/src/components/HomePage.tsx
  frontend/src/components/recommendation/RecommendationCard.tsx
Due: local-eslint

fix: convert NaN nutrition values to None before Pydantic validation
  backend-fastapi/vision/app/inference.py
Due: local-ruff-check, local-ruff-format

feat: add onboarding and profile management flows
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/profile/NotificationSettings.tsx
  frontend/src/components/profile/PersonalSettings.tsx
  frontend/src/components/profile/PersonalSettingsAllergies.tsx
  frontend/src/components/profile/PersonalSettingsDiet.tsx
  frontend/src/components/profile/PersonalSettingsDiseases.tsx
  frontend/src/components/profile/PersonalSettingsLifestyle.tsx
  frontend/src/components/profile/PersonalSettingsRecommendation.tsx
  frontend/src/components/profile/shared.ts
  frontend/src/hooks/useNutritionTargets.ts
  frontend/src/hooks/useOnboarding.ts
  frontend/src/hooks/usePreferences.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useSaveOnboarding.ts
  frontend/src/pages/MyPage/.gitkeep
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/pages/MyPage/index.ts
  frontend/src/pages/Onboarding/.gitkeep
  frontend/src/pages/Onboarding/GoalSettingPage.tsx
  frontend/src/pages/Onboarding/TDEECalculatorPage.tsx
  frontend/src/pages/Onboarding/WelcomePage.tsx
  frontend/src/pages/Onboarding/index.ts
  frontend/src/pages/Onboarding/shared.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/onboardingService.ts
  frontend/src/services/preferenceService.ts
  frontend/src/services/profileService.ts
  frontend/src/types/onboarding.ts
  frontend/src/types/profile.ts
  frontend/src/utils/tdeeCalculator.test.ts
  frontend/src/utils/tdeeCalculator.ts
Due: local-eslint

feat: add backend-connected AI assistant chat flow
  frontend/src/components/AIAgentPage.tsx
  frontend/src/hooks/useAIAgentChat.ts
  frontend/src/pages/AIAgentPage.tsx
  frontend/src/services/aiAgentService.ts
  frontend/src/services/sessionService.ts
  frontend/src/types/aiAgent.ts
Due: local-eslint

docs: add frontend planning and reference documents
  frontend/CLAUDE.md
  frontend/README.md
  frontend/build-analyze/assets/AIAgentPage-C37PDeuI.js
  frontend/build-analyze/assets/DailyMealViewPage-DGF_kcvz.js
  frontend/build-analyze/assets/FoodSearchPage-DAvNN7H4.js
  frontend/build-analyze/assets/ImageUploadPage-kcyCFL8Y.js
  frontend/build-analyze/assets/MealSavePage-zeNPaHf7.js
  frontend/build-analyze/assets/MyPage-CyoNXEkI.js
  frontend/build-analyze/assets/RecommendationPage-Cw9oOCeh.js
  frontend/build-analyze/assets/SettingsPage-DhtlKeMz.js
  frontend/build-analyze/assets/StatsPage-NkMssAdu.js
  frontend/build-analyze/assets/index-BEXZAhy5.css
  frontend/build-analyze/assets/index-Bo22C5bG.js
  frontend/build-analyze/assets/shared-CyZb_nRM.js
  frontend/build-analyze/assets/utils-BlLYKUZU.js
  frontend/build-analyze/bundle-analysis.html
  frontend/build-analyze/index.html
  frontend/build-analyze/vite.svg
  frontend/docs/01-핵심기능.md
  frontend/docs/02-UseCase.md
  frontend/docs/03-Component-Design.md
  frontend/docs/04-State-Management.md
  frontend/docs/05-API-Spec.md
  frontend/docs/06-OpenAPI-Reference-Note.md
  frontend/docs/07-Phase-13-Checks.md
  frontend/docs/CLAUDE.md
  frontend/plan/01-init/task-list.md
Due: local-eslint

chore: remove generated bundle artifacts from docs split branch
  frontend/build-analyze/assets/AIAgentPage-C37PDeuI.js
  frontend/build-analyze/assets/DailyMealViewPage-DGF_kcvz.js
  frontend/build-analyze/assets/FoodSearchPage-DAvNN7H4.js
  frontend/build-analyze/assets/ImageUploadPage-kcyCFL8Y.js
  frontend/build-analyze/assets/MealSavePage-zeNPaHf7.js
  frontend/build-analyze/assets/MyPage-CyoNXEkI.js
  frontend/build-analyze/assets/RecommendationPage-Cw9oOCeh.js
  frontend/build-analyze/assets/SettingsPage-DhtlKeMz.js
  frontend/build-analyze/assets/StatsPage-NkMssAdu.js
  frontend/build-analyze/assets/index-BEXZAhy5.css
  frontend/build-analyze/assets/index-Bo22C5bG.js
  frontend/build-analyze/assets/shared-CyZb_nRM.js
  frontend/build-analyze/assets/utils-BlLYKUZU.js
  frontend/build-analyze/bundle-analysis.html
  frontend/build-analyze/index.html
  frontend/build-analyze/vite.svg
Due: local-eslint

fix: add missing session bootstrap dependency and placeholders
  frontend/src/app/router/routes.tsx
  frontend/src/services/sessionService.ts
Due: local-eslint

fix: add missing eof newline to sonner toaster
  frontend/src/components/ui/sonner.tsx
Due: local-eslint

fix: harden onboarding and profile validation flows
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/profile/NotificationSettings.tsx
  frontend/src/components/profile/PersonalSettings.tsx
  frontend/src/services/onboardingService.ts
  frontend/src/utils/tdeeCalculator.ts
Due: local-eslint

fix: improve onboarding accessibility and modal focus handling
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/profile/NotificationSettings.tsx
  frontend/src/components/profile/PersonalSettings.tsx
  frontend/src/services/onboardingService.ts
Due: local-eslint

fix: harden ai assistant streaming flow
  frontend/src/components/AIAgentPage.tsx
  frontend/src/hooks/useAIAgentChat.ts
  frontend/src/services/aiAgentService.ts
Due: local-eslint

docs: align frontend guides and checklist metadata
  frontend/CLAUDE.md
  frontend/README.md
  frontend/docs/03-Component-Design.md
  frontend/plan/01-init/task-list.md
Due: none

fix: sync stats with saved home data and replace placeholder routes
  frontend/src/app/router/routes.tsx
  frontend/src/components/HomePage.tsx
  frontend/src/components/StatsPage.tsx
  frontend/src/utils/dateFormatter.ts
Due: local-eslint

feat: Spring → FastAPI Vision 프록시 컨트롤러 추가
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/controller/VisionProxyController.java
  backend-spring/src/main/resources/application.properties
  backend-spring/src/test/java/com/NurtiAgent/Onboard/vision/controller/VisionProxyControllerTest.java
Due: none

fix: vision multipart part Content-Type 누락 수정 + IOException 테스트 보강
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/controller/VisionProxyController.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/vision/controller/VisionProxyControllerTest.java
Due: none

chore: CD 워크플로 진단 로그 + spring no-cache 빌드 보강
  .github/workflows/cd.yml
Due: none

feat: nginx로 프론트엔드 정적 빌드 서빙 + same-origin 프록시 구성
  .github/workflows/cd.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx/default.conf
Due: none

chore: CD git pull → fetch + reset --hard로 결정적 동기화
  .github/workflows/cd.yml
Due: none
