Repository nutriagentpjt/nutriagentpjt: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint, local-ruff-check, local-ruff-format

local-eslint:
  name: eslint
  entry: npm --prefix frontend run lint
  language: system
  pass_filenames: false

local-ruff-check:
  name: ruff check
  entry: uv run --directory backend-fastapi ruff check . --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: system
  pass_filenames: false

local-ruff-format:
  name: ruff format
  entry: uv run --directory backend-fastapi ruff format . --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: system
  pass_filenames: false

fix: nginx 컨테이너를 unprivileged 이미지로 전환
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx/default.conf
Due: none

fix: 프론트 빌드 시 챗봇 mock 모드 강제 해제 (VITE_AI_AGENT_MODE=api)
  frontend/.dockerignore
  frontend/.env.production
  frontend/Dockerfile
Due: none

chore: dockerignore .env 패턴을 allowlist로 좁힘
  frontend/.dockerignore
Due: none

chore: CD에 frontend 빌드 단계 추가
  .github/workflows/cd.yml
Due: none

chore: CD에 배포 후 HTTP smoke test 추가
  .github/workflows/cd.yml
Due: none

refactor: prepare guest/auth onboarding flow for google account linking
  frontend/src/app/providers/SessionBootstrap.tsx
  frontend/src/app/router/ProtectedRoute.tsx
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/services/api.ts
  frontend/src/services/authService.ts
  frontend/src/services/index.ts
  frontend/src/store/authStore.ts
  frontend/src/utils/auth.ts
Due: local-eslint

fix: vision/postgres 인프라 분리 — CD 네트워크 라벨 충돌 복구
  .env.example
  .github/workflows/cd.yml
  docker-compose.yml
Due: none

chore: CodeRabbit 리뷰 반영 — env 인라인 주석 분리 + 네트워크 preflight
  .env.example
  .github/workflows/cd.yml
Due: none

feat: add structured meal plate cards to AI assistant chat
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/ai-agent/MealPlateCard.tsx
  frontend/src/utils/aiMealPlate.ts
Due: local-eslint

fix : apply coderabbit feedbacks
  frontend/src/components/AIAgentPage.tsx
  frontend/src/services/authService.ts
Due: local-eslint

fix: OnboardingController 제거 — POST /onboarding 라우트 충돌 해소
  backend-spring/src/main/java/com/NurtiAgent/Onboard/onboarding/controller/OnboardingController.java
Due: none

fix: align onboarding save flow with deployed backend contract
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/profile/shared.ts
  frontend/src/services/onboardingService.ts
  frontend/src/types/onboarding.ts
  frontend/src/types/profile.ts
  frontend/src/utils/onboardingContract.ts
Due: local-eslint

fix : fix severel feedbacks from coderabbitai
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/profile/shared.ts
  frontend/src/utils/onboardingContract.ts
Due: local-eslint

fix: AI 어시스턴트 프로필 조회 경로 수정
  backend-fastapi/app/chatbot/tools/onboarding.py
Due: local-ruff-check, local-ruff-format

feat: add profile identity preferences and notification controls
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/common/Toast/Toast.tsx
  frontend/src/components/profile/NotificationSettings.tsx
  frontend/src/components/profile/shared.ts
  frontend/src/components/ui/switch.tsx
  frontend/src/services/authService.ts
  frontend/src/store/settingsStore.ts
Due: local-eslint

fix : apply coderabbit feedbacks
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/common/Toast/Toast.tsx
  frontend/src/components/profile/NotificationSettings.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/store/settingsStore.ts
Due: local-eslint

feat: improve profile settings dialogs and home health input controls
  frontend/src/components/HomePage.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/profile/NotificationSettings.tsx
Due: local-eslint

fix: apply coderabbit feedback
  frontend/src/components/HomePage.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/profile/NotificationSettings.tsx
Due: local-eslint

feat: meal-image 업로드 프록시를 FE 계약에 정렬 + 통합 부팅 테스트 추가
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/controller/MealImageUploadController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/dto/MealImageRecognitionCandidate.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/dto/MealImageUploadResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/dto/upstream/VisionCandidate.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/dto/upstream/VisionNutrition.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/dto/upstream/VisionPrediction.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/dto/upstream/VisionSearchResponse.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/ApplicationContextBootTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/vision/controller/MealImageUploadControllerTest.java
  backend-spring/src/test/resources/application.properties
Due: none

fix: vision 업스트림 응답 body null/blank 가드 추가
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/controller/MealImageUploadController.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/vision/controller/MealImageUploadControllerTest.java
Due: none

chore: dead onboarding/ 패키지 제거
  backend-spring/src/main/java/com/NurtiAgent/Onboard/onboarding/dto/OnboardingRequest.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/onboarding/dto/OnboardingResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/onboarding/entity/OnboardingInfo.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/onboarding/repository/OnboardingInfoRepository.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/onboarding/service/OnboardingService.java
Due: none

feat: food_profile 확장 테이블 + 마이그레이션 + enum + 백필 스크립트
  backend-fastapi/alembic/env.py
  backend-fastapi/alembic/versions/974374726f59_add_food_profile.py
  backend-fastapi/app/models/food.py
  backend-fastapi/app/schemas/enums.py
  backend-fastapi/app/scripts/__init__.py
  backend-fastapi/app/scripts/backfill_food_profile.py
Due: local-ruff-check, local-ruff-format

feat: KDRI 통합 영양 목표 + leucine threshold + 운동 가산
  backend-fastapi/app/services/nutrition_calculator.py
  backend-fastapi/app/services/user_profile_loader.py
Due: local-ruff-check, local-ruff-format

feat: 스코어링 정밀화 + 동적 가중치 + 필터 개선
  backend-fastapi/app/services/food_filter.py
  backend-fastapi/app/services/scorer.py
Due: local-ruff-check, local-ruff-format

feat: 1식3찬 plate 추천 + mode 분기 + 채팅 MEAL_PLATE 템플릿
  backend-fastapi/app/chatbot/engine.py
  backend-fastapi/app/chatbot/tools/recommend.py
  backend-fastapi/app/schemas/request.py
  backend-fastapi/app/schemas/response.py
  backend-fastapi/app/services/recommendation.py
Due: local-ruff-check, local-ruff-format

refactor: PR #52 크리티컬·중요 이슈 수정
  backend-fastapi/app/models/food.py
  backend-fastapi/app/schemas/response.py
  backend-fastapi/app/services/food_filter.py
Due: local-ruff-check, local-ruff-format

fix: Bedrock throttle retry 시 SSE 클라이언트 disconnect 오류 및 read timeout 수정
  backend-spring/src/main/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/RestTemplateConfig.java
Due: none

feat: vision-api 인프라 재투입 — 별도 pgvector 컨테이너(A2)
  .env.example
  .github/workflows/cd.yml
  .gitignore
  docker-compose.yml
Due: none

fix: CodeRabbit Critical/Major 반영 + vision data 마운트 경로 단순화
  .env.example
  .github/workflows/cd.yml
  .gitignore
  docker-compose.yml
Due: none

fix: CD ssh-action command_timeout 30m 으로 확장
  .github/workflows/cd.yml
Due: none

fix: CD vision liveness 폴링을 python urllib 패턴으로 교체
  .github/workflows/cd.yml
Due: none

feat: vision 모델 가중치 캐시 영속화 + CD readiness smoke 추가
  .github/workflows/cd.yml
  docker-compose.yml
Due: none

feat: polish meal image upload flow and profile settings interactions
  frontend/src/components/camera/ImagePreview.tsx
  frontend/src/layouts/Header.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/MealRecording/ImageUploadPage.tsx
Due: local-eslint

feat: polish profile, meal analysis, AI meal plate, and settings UX
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/HomePage.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/ai-agent/MealPlateCard.tsx
  frontend/src/utils/aiMealPlate.ts
Due: local-eslint

fix : apply coderabbit feedback
  frontend/src/components/ProfilePage.tsx
  frontend/src/layouts/MainLayout.tsx
Due: local-eslint

hotfix: normalize HEIC image uploads for mobile preview and analysis
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/camera/ImagePreview.tsx
  frontend/src/hooks/useImageUpload.ts
  frontend/src/pages/MealRecording/ImageUploadPage.tsx
  frontend/src/utils/imageFile.ts
Due: local-eslint

hotfix: fix mobile HEIC image preview flow
  frontend/src/pages/MealRecording/ImageUploadPage.tsx
Due: local-eslint

fix: Spring multipart 1MB 한도로 인한 iOS HEIC 업로드 500 수정
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandler.java
  backend-spring/src/main/resources/application.properties
Due: none

feat: add overlay scroll indicators and polish profile/search UX
  frontend/src/app/router/routes.tsx
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/HomePage.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/Root.tsx
  frontend/src/components/common/OverlayScrollArea.tsx
  frontend/src/components/food/AddFoodModal.tsx
  frontend/src/components/food/FoodSearchInput.tsx
  frontend/src/components/profile/NotificationSettings.tsx
  frontend/src/components/profile/PersonalSettings.tsx
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/hooks/useGlobalScrollbarActivity.ts
  frontend/src/index.css
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/MealRecording/FoodSearchPage.tsx
  frontend/src/pages/MealRecording/ImageUploadPage.tsx
  frontend/src/styles/globals.css
  frontend/src/utils/imageFile.ts
Due: local-eslint

fix: address inline rename and search suggestion edge cases
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/food/FoodSearchInput.tsx
  frontend/src/styles/globals.css
Due: local-eslint

Path conditions:
  local-eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  local-ruff-check: any of: ^backend-fastapi/.*\.py$ and \.py$
  local-ruff-format: any of: ^backend-fastapi/.*\.py$ and \.py$
