Repository nutriagentpjt/nutriagentpjt: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint, local-ruff-check, local-ruff-format

local-eslint:
  name: eslint
  entry: npm --prefix frontend run lint
  language: system
  pass_filenames: false

local-ruff-check:
  name: ruff check
  entry: uv run --directory backend-fastapi ruff check . --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: system
  pass_filenames: false

local-ruff-format:
  name: ruff format
  entry: uv run --directory backend-fastapi ruff format . --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: system
  pass_filenames: false

feat: 목표 영양소 수동 조절 API 추가 (PATCH /profiles/targets)
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/controller/ProfileController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/dto/NutritionTargetUpdateRequest.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/ProfileService.java
Due: none

fix: 수동 설정한 목표 영양소가 프로필 수정 시 덮어써지는 문제 수정
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/dto/NutritionTargetResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/entity/NutritionTarget.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/ProfileService.java
Due: none

fix: lint issues
  frontend/README.md
  frontend/index.html
  frontend/src/Attributions.md
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/Root.tsx
  frontend/src/components/StatsPage.tsx
  frontend/src/components/calorie-progress.tsx
  frontend/src/components/macro-card.tsx
  frontend/src/components/meal-list.tsx
  frontend/src/components/time-picker-wheel.tsx
Due: local-eslint

feat: 식단 추천 API 6단계 파이프라인 구현 (FastAPI)
  backend-fastapi/app/api/deps.py
  backend-fastapi/app/api/routes/__init__.py
  backend-fastapi/app/api/routes/cllasify.py
  backend-fastapi/app/api/routes/coaching.py
  backend-fastapi/app/api/routes/ocr.py
  backend-fastapi/app/api/routes/recommend.py
  backend-fastapi/app/core/config.py
  backend-fastapi/app/core/database.py
  backend-fastapi/app/models/__init__.py
  backend-fastapi/app/models/feedback.py
  backend-fastapi/app/models/food.py
  backend-fastapi/app/schemas/__init__.py
  backend-fastapi/app/schemas/enums.py
  backend-fastapi/app/schemas/request.py
  backend-fastapi/app/schemas/response.py
  backend-fastapi/app/services/__init__.py
  backend-fastapi/app/services/food_filter.py
  backend-fastapi/app/services/nutrition_calculator.py
  backend-fastapi/app/services/reason_tag.py
  backend-fastapi/app/services/recommendation.py
  backend-fastapi/app/services/scorer.py
  backend-fastapi/app/services/user_profile_loader.py
  backend-fastapi/docs/추천알고리즘.md
  backend-fastapi/main.py
Due: local-ruff-check, local-ruff-format

feat: complete phase 6 meal save flow and restore pre-commit lint config
  .pre-commit-config.yaml
  frontend/docs/06-OpenAPI-Reference-Note.md
  frontend/src/components/food/AddFoodModal.tsx
  frontend/src/components/meal/MealTypeSelector.tsx
  frontend/src/components/meal/NutritionPreview.tsx
  frontend/src/components/meal/index.ts
  frontend/src/pages/MealRecording/MealSavePage.tsx
  frontend/src/utils/mealStorage.ts
  frontend/src/utils/nutritionCalculator.ts
  package.json
Due: local-eslint

Update task list for meal recording features
  frontend/plan/01-init/task-list.md
Due: none

feat: complete phase 7 meal view flow and align meal APIs with spec
  frontend/src/components/food/AddFoodModal.tsx
  frontend/src/components/meal/MealCard.tsx
  frontend/src/components/meal/MealTimeline.tsx
  frontend/src/components/meal/NutritionSummaryCard.tsx
  frontend/src/components/meal/index.ts
  frontend/src/constants/queryKeys.ts
  frontend/src/hooks/useAddMeal.ts
  frontend/src/hooks/useDeleteMeal.ts
  frontend/src/hooks/useMeals.ts
  frontend/src/hooks/useUpdateMeal.ts
  frontend/src/pages/MealView/DailyMealViewPage.tsx
  frontend/src/services/mealService.ts
  frontend/src/types/index.ts
  frontend/src/types/meal.ts
  frontend/src/utils/mealStorage.ts
Due: local-eslint

Mark meal service tasks as completed
  frontend/plan/01-init/task-list.md
Due: none

feat: Integrate Food API into Spring Boot
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/controller/FoodController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/entity/Food.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/repository/FoodRepository.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/controller/FoodController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/FoodService.java
  backend-spring/src/main/resources/application.properties
Due: none

refactor: Fix CodeRabbit review issues (Phase 1)
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandler.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/controller/FoodController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/exception/FoodNotFoundException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/exception/InvalidSearchQueryException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/FoodService.java
Due: none

refactor: Phase 2 - Flyway migration, layer separation, query optimization
  backend-spring/.gitignore
  backend-spring/build.gradle
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/controller/FoodController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/entity/Food.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/repository/FoodRepository.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/FoodService.java
  backend-spring/src/main/resources/application.properties
  backend-spring/src/main/resources/db/migration/V1__create_food_name_index.sql
Due: none

fix: Food 엔티티 ID 타입을 Long에서 Integer로 변경 (DB SERIAL 타입 매칭)
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/entity/Food.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/repository/FoodRepository.java
Due: none

fix: Hibernate 스키마 검증 비활성화 (NUMERIC 타입 불일치 해결)
  backend-spring/src/main/resources/application.properties
Due: none

fix: 서버 DB에 없는 cholesterol, trans_fat 컬럼 제거
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/entity/Food.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/repository/FoodRepository.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/dto/FoodResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/FoodService.java
Due: none

feat: AWS Bedrock 기반 PT 챗봇 기능 구현
  backend-fastapi/alembic.ini
  backend-fastapi/alembic/README
  backend-fastapi/alembic/env.py
  backend-fastapi/alembic/script.py.mako
  backend-fastapi/alembic/versions/1f4c8072c12f_add_chat_sessions_and_chat_messages_.py
  backend-fastapi/app/chatbot/__init__.py
  backend-fastapi/app/chatbot/dependencies.py
  backend-fastapi/app/chatbot/engine.py
  backend-fastapi/app/chatbot/persona/__init__.py
  backend-fastapi/app/chatbot/persona/base.py
  backend-fastapi/app/chatbot/persona/manager.py
  backend-fastapi/app/chatbot/persona/presets/drill_sergeant.yaml
  backend-fastapi/app/chatbot/persona/presets/friendly_pt.yaml
  backend-fastapi/app/chatbot/persona/presets/nutritionist.yaml
  backend-fastapi/app/chatbot/router.py
  backend-fastapi/app/chatbot/schemas.py
  backend-fastapi/app/chatbot/tools/__init__.py
  backend-fastapi/app/chatbot/tools/base.py
  backend-fastapi/app/chatbot/tools/feedback.py
  backend-fastapi/app/chatbot/tools/onboarding.py
  backend-fastapi/app/chatbot/tools/recommend.py
  backend-fastapi/app/chatbot/tools/registry.py
  backend-fastapi/app/core/config.py
  backend-fastapi/app/models/chat.py
  backend-fastapi/main.py
  backend-fastapi/pyproject.toml
  backend-fastapi/uv.lock
Due: local-ruff-check, local-ruff-format

feat: sync onboarding transitions and recommendation overlay with figma UI prototype
  frontend/src/app/router/ProtectedRoute.tsx
  frontend/src/app/router/routes.tsx
  frontend/src/components/HomePage.tsx
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/calorie-progress.tsx
  frontend/src/components/meal-list.tsx
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/components/recommendation/index.ts
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/Onboarding/GoalSettingPage.tsx
  frontend/src/pages/Onboarding/TDEECalculatorPage.tsx
  frontend/src/pages/Onboarding/WelcomePage.tsx
  frontend/src/pages/Onboarding/shared.ts
  frontend/src/pages/Recommendation/RecommendationPage.tsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
Due: local-eslint

refactor: BMR 공식을 Mifflin-St Jeor로 변경하고 영양소 비율 조정
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/NutritionCalculatorService.java
Due: none

fix: refine meal interactions and recommendation overlay flows
  backend-spring/build.gradle
  frontend/src/components/HomePage.tsx
  frontend/src/components/calorie-progress.tsx
  frontend/src/components/common/Toast/Toast.tsx
  frontend/src/components/meal-list.tsx
  frontend/src/components/meal/MealList.tsx
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/components/recommendation/CoachingMessage.tsx
  frontend/src/components/recommendation/RecommendationCard.tsx
  frontend/src/components/recommendation/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRecommendations.ts
  frontend/src/pages/Recommendation/RecommendationPage.tsx
  frontend/src/services/recommendationService.ts
  frontend/src/types/index.ts
  frontend/src/types/recommendation.ts
Due: local-eslint

refactor: extract shared donut chart component
  frontend/src/components/calorie-progress.tsx
  frontend/src/components/chart/CalorieProgress.tsx
  frontend/src/components/chart/DonutChart.tsx
  frontend/src/components/chart/index.ts
Due: local-eslint

fix: stabilize recommendation caching
  frontend/src/constants/queryKeys.ts
  frontend/src/hooks/useRecommendations.ts
Due: local-eslint

Update task list to reflect completed items
  frontend/plan/01-init/task-list.md
Due: none

feat: organize recommendation save-feedback flows and add settings hooks
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/components/recommendation/FeedbackButtons.tsx
  frontend/src/components/recommendation/RecommendationCard.tsx
  frontend/src/components/recommendation/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRecommendationSettings.ts
  frontend/src/hooks/useSaveRecommendation.ts
  frontend/src/hooks/useSubmitFeedback.ts
Due: local-eslint

Update task list to mark API and hooks as completed
  frontend/plan/01-init/task-list.md
Due: none

Update task list for Recommendation settings page
  frontend/plan/01-init/task-list.md
Due: none

feat: finish onboarding hooks and API integration
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useOnboarding.ts
  frontend/src/hooks/useSaveOnboarding.ts
Due: local-eslint

feat: finish home summary hooks and progress circle integration
  frontend/src/components/HomePage.tsx
  frontend/src/components/calorie-progress.tsx
  frontend/src/components/chart/CalorieProgress.tsx
  frontend/src/components/chart/DonutChart.tsx
  frontend/src/components/chart/ProgressCircle.tsx
  frontend/src/components/chart/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useMealSummary.ts
Due: local-eslint

Mark tasks as completed in onboarding and home phases
  frontend/plan/01-init/task-list.md
Due: none

feat: map onboarding quick presets to diet style enums
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/pages/Onboarding/shared.ts
  frontend/src/types/index.ts
  frontend/src/types/onboarding.ts
  frontend/src/utils/tdeeCalculator.ts
Due: local-eslint

refactor: BMR 공식을 Mifflin-St Jeor로 변경하고 단백질 계산을 체중 기반으로 개선
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/NutritionCalculatorService.java
Due: none

fix: 단백질 칼로리가 목표 칼로리를 초과하는 경계 조건 처리
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/NutritionCalculatorService.java
Due: none

fix: 중복된 LEAN_MASS_UP case 제거
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/NutritionCalculatorService.java
Due: none

refactor: 페르소나 프리셋 교체 및 공통 시스템 프롬프트 추가
  backend-fastapi/app/chatbot/engine.py
  backend-fastapi/app/chatbot/persona/presets/drill_sergeant.yaml
  backend-fastapi/app/chatbot/persona/presets/friendly_pt.yaml
  backend-fastapi/app/chatbot/persona/presets/nutritionist.yaml
  backend-fastapi/app/chatbot/persona/presets/strong_strong.yaml
Due: local-ruff-check, local-ruff-format

refactor: save_feedback 도구 제거
  backend-fastapi/app/chatbot/dependencies.py
  backend-fastapi/app/chatbot/tools/feedback.py
Due: local-ruff-check, local-ruff-format

fix: Bedrock 동기 호출을 asyncio.to_thread로 전환
  backend-fastapi/app/chatbot/engine.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  local-ruff-check: any of: ^backend-fastapi/.*\.py$ and \.py$
  local-ruff-format: any of: ^backend-fastapi/.*\.py$ and \.py$
