Repository nutriagentpjt/nutriagentpjt: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint, local-ruff-check, local-ruff-format

local-eslint:
  name: eslint
  entry: npm --prefix frontend run lint
  language: system
  pass_filenames: false

local-ruff-check:
  name: ruff check
  entry: uv run --directory backend-fastapi ruff check . --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: system
  pass_filenames: false

local-ruff-format:
  name: ruff format
  entry: uv run --directory backend-fastapi ruff format . --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: system
  pass_filenames: false

fix: 보안 취약점 및 동시성 문제 긴급 수정 (CodeRabbit #19)
  backend-fastapi/app/api/deps.py
  backend-fastapi/app/chatbot/engine.py
  backend-fastapi/app/chatbot/router.py
  backend-fastapi/app/chatbot/tools/onboarding.py
  backend-fastapi/app/core/config.py
Due: local-ruff-check, local-ruff-format

fix: CodeRabbit 리뷰 지적사항 6건 수정 (#19)
  backend-fastapi/app/chatbot/tools/onboarding.py
  backend-fastapi/app/core/config.py
  backend-fastapi/app/services/food_filter.py
  backend-fastapi/app/services/nutrition_calculator.py
  backend-fastapi/main.py
Due: local-ruff-check, local-ruff-format

feat: NutritionTargetNotFoundException 커스텀 예외 추가
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandler.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/exception/NutritionTargetNotFoundException.java
Due: none

feat: FastAPI 추천 서비스 환경변수 추가
  backend-spring/src/main/resources/application.properties
Due: none

refactor: RecommendationResponse DTO를 FastAPI 응답 형식에 맞게 개선
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/dto/RecommendationResponse.java
Due: none

feat: RecommendationService를 FastAPI 호출로 교체 (mealType 필터 포함)
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/repository/MealRepository.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/MealService.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/dto/FastApiRecommendResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/service/RecommendationService.java
Due: none

fix: RestTemplate 읽기 타임아웃 15초로 증가 (추천 파이프라인 대응)
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/RestTemplateConfig.java
Due: none

docs: Apidog 테스트 시나리오 작성
  backend-spring/.docs/apidog-test-scenario.md
Due: none

feat: FastAPI Dockerfile 추가 및 docker-compose 전체 서비스 통합
  backend-fastapi/Dockerfile
  docker-compose.yml
Due: none

fix: align onboarding inputs and payload with updated onboarding spec
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/hooks/useSaveOnboarding.ts
  frontend/src/pages/Onboarding/GoalSettingPage.tsx
  frontend/src/pages/Onboarding/shared.ts
  frontend/src/styles/globals.css
  frontend/src/types/index.ts
  frontend/src/types/onboarding.ts
Due: local-eslint

feat: add onboarding step 9 constraints
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/pages/Onboarding/shared.ts
  frontend/src/types/onboarding.ts
Due: local-eslint

feat: update profile flow and recommendation settings page from prototype
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/profile/NotificationSettings.tsx
  frontend/src/components/profile/PersonalSettings.tsx
  frontend/src/components/profile/PersonalSettingsAllergies.tsx
  frontend/src/components/profile/PersonalSettingsDiet.tsx
  frontend/src/components/profile/PersonalSettingsDiseases.tsx
  frontend/src/components/profile/PersonalSettingsLifestyle.tsx
  frontend/src/components/profile/shared.ts
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/Recommendation/SettingsPage.tsx
  frontend/src/styles/globals.css
Due: local-eslint

test: add phase 13 test setup and optimization checks
  frontend/build-analyze/assets/AIAgentPage-C37PDeuI.js
  frontend/build-analyze/assets/DailyMealViewPage-DGF_kcvz.js
  frontend/build-analyze/assets/FoodSearchPage-DAvNN7H4.js
  frontend/build-analyze/assets/ImageUploadPage-kcyCFL8Y.js
  frontend/build-analyze/assets/MealSavePage-zeNPaHf7.js
  frontend/build-analyze/assets/MyPage-CyoNXEkI.js
  frontend/build-analyze/assets/RecommendationPage-Cw9oOCeh.js
  frontend/build-analyze/assets/SettingsPage-DhtlKeMz.js
  frontend/build-analyze/assets/StatsPage-NkMssAdu.js
  frontend/build-analyze/assets/index-BEXZAhy5.css
  frontend/build-analyze/assets/index-Bo22C5bG.js
  frontend/build-analyze/assets/shared-CyZb_nRM.js
  frontend/build-analyze/assets/utils-BlLYKUZU.js
  frontend/build-analyze/bundle-analysis.html
  frontend/build-analyze/index.html
  frontend/build-analyze/vite.svg
  frontend/docs/07-Phase-13-Checks.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/router/routes.tsx
  frontend/src/components/HomePage.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/camera/ImagePreview.tsx
  frontend/src/components/camera/ImageSourceModal.tsx
  frontend/src/components/chart/ProgressCircle.test.tsx
  frontend/src/components/chart/ProgressCircle.tsx
  frontend/src/components/figma/ImageWithFallback.tsx
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/components/recommendation/RecommendationCard.tsx
  frontend/src/hooks/useDebounce.test.tsx
  frontend/src/layouts/TabNavigation.tsx
  frontend/src/pages/Recommendation/SettingsPage.tsx
  frontend/src/test/setup.ts
  frontend/src/utils/nutritionCalculator.test.ts
  frontend/src/utils/tdeeCalculator.test.ts
  frontend/vite.config.ts
  package.json
Due: local-eslint

Update task list with completed items in phases 12 and 13
  frontend/plan/01-init/task-list.md
Due: none

refactor: prepare session-based API integration without UI changes
  frontend/.gitignore
  frontend/eslint.config.js
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/constants/queryKeys.ts
  frontend/src/hooks/useOnboarding.ts
  frontend/src/hooks/useRecommendationSettings.ts
  frontend/src/hooks/useRecommendations.ts
  frontend/src/hooks/useSaveOnboarding.ts
  frontend/src/pages/Recommendation/RecommendationPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/onboardingService.ts
  frontend/src/services/recommendationService.ts
  frontend/src/store/authStore.ts
  frontend/src/types/onboarding.ts
Due: local-eslint

chore: stop tracking bundle analysis artifacts
  backend-spring/.gradle/8.14.3/checksums/checksums.lock
  backend-spring/.gradle/8.14.3/fileHashes/fileHashes.lock
  backend-spring/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  frontend/build-analyze/assets/AIAgentPage-C37PDeuI.js
  frontend/build-analyze/assets/DailyMealViewPage-DGF_kcvz.js
  frontend/build-analyze/assets/FoodSearchPage-DAvNN7H4.js
  frontend/build-analyze/assets/ImageUploadPage-kcyCFL8Y.js
  frontend/build-analyze/assets/MealSavePage-zeNPaHf7.js
  frontend/build-analyze/assets/MyPage-CyoNXEkI.js
  frontend/build-analyze/assets/RecommendationPage-Cw9oOCeh.js
  frontend/build-analyze/assets/SettingsPage-DhtlKeMz.js
  frontend/build-analyze/assets/StatsPage-NkMssAdu.js
  frontend/build-analyze/assets/index-BEXZAhy5.css
  frontend/build-analyze/assets/index-Bo22C5bG.js
  frontend/build-analyze/assets/shared-CyZb_nRM.js
  frontend/build-analyze/assets/utils-BlLYKUZU.js
  frontend/build-analyze/bundle-analysis.html
  frontend/build-analyze/index.html
  frontend/build-analyze/vite.svg
Due: local-eslint

chore: revert unintended backend gradle lock changes
  backend-spring/.gradle/8.14.3/checksums/checksums.lock
  backend-spring/.gradle/8.14.3/fileHashes/fileHashes.lock
  backend-spring/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Due: none

chore: clean up formatting for pre-commit
  frontend/eslint.config.js
  frontend/plan/01-init/task-list.md
  frontend/src/components/HomePage.tsx
  frontend/src/components/common/TimePickerWheel.tsx
  frontend/src/components/meal/MacroCard.tsx
  frontend/src/components/meal/MealList.tsx
  frontend/src/hooks/useToast.ts
  frontend/src/pages/MealRecording/ImageUploadPage.tsx
Due: local-eslint

chore: fix eof newline for pre-commit
  frontend/src/utils/auth.ts
Due: local-eslint

chore: fix remaining pre-commit eof issues
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/PROJECT_STRUCTURE.md
  frontend/src/constants/index.ts
  frontend/src/main.tsx
  frontend/src/pages/AIAgentPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/StatsPage.tsx
  frontend/src/react-query.d.ts
  frontend/src/services/index.ts
  frontend/src/services/mockFoodService.ts
Due: local-eslint

fix: 잘못된 mealType 400 처리 및 신규 DB 스키마 마이그레이션 추가
  backend-spring/.docs/deployment-checklist.md
  backend-spring/.docs/fastapi-fix-requests.md
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandler.java
  backend-spring/src/main/resources/db/migration/V0_1__create_spring_tables.sql
Due: none

fix: Food 모델 컬럼명 불일치 수정 (sugars→sugar, fiber→dietary_fiber)
  backend-fastapi/app/models/food.py
Due: local-ruff-check, local-ruff-format

chore: .docs/ 디렉토리 gitignore 처리
  backend-spring/.docs/apidog-test-scenario.md
  backend-spring/.docs/deployment-checklist.md
  backend-spring/.docs/fastapi-fix-requests.md
  backend-spring/.gitignore
Due: none

chore: postgres를 docker-compose에서 분리, 외부 네트워크로 연결
  docker-compose.yml
Due: none

chore: 외부 네트워크명을 nutriagent-net으로 고정
  docker-compose.yml
Due: none

fix: Flyway out-of-order 활성화 (기존 DB에 V0_1 적용 허용)
  backend-spring/src/main/resources/application.properties
Due: none

feat: integrate guest session and profile-settings backend flow
  frontend/src/app/providers/SessionBootstrap.tsx
  frontend/src/app/providers/index.tsx
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/profile/PersonalSettingsDiseases.tsx
  frontend/src/components/profile/PersonalSettingsLifestyle.tsx
  frontend/src/components/profile/shared.ts
  frontend/src/constants/queryKeys.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useNutritionTargets.ts
  frontend/src/hooks/useOnboarding.ts
  frontend/src/hooks/usePreferences.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useSaveOnboarding.ts
  frontend/src/pages/Onboarding/shared.ts
  frontend/src/pages/Recommendation/SettingsPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/foodService.ts
  frontend/src/services/index.ts
  frontend/src/services/onboardingService.ts
  frontend/src/services/preferenceService.ts
  frontend/src/services/profileService.ts
  frontend/src/services/sessionService.ts
  frontend/src/types/index.ts
  frontend/src/types/onboarding.ts
  frontend/src/types/profile.ts
  frontend/src/utils/tdeeCalculator.test.ts
  frontend/src/utils/tdeeCalculator.ts
Due: local-eslint

feat: CORS 설정 추가 (프론트엔드 통합 대응)
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/CorsConfig.java
  backend-spring/src/main/resources/application.properties
Due: none

fix: align food search with deployed backend and remove legacy meal seed data
  frontend/src/components/HomePage.tsx
  frontend/src/constants/queryKeys.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useFoodAutocomplete.ts
  frontend/src/pages/MealRecording/FoodSearchPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/foodService.ts
  frontend/src/utils/foodSearchRanking.ts
  frontend/vite.config.ts
Due: local-eslint

refactor: prepare AI agent chat flow for future LLM integration
  frontend/src/components/AIAgentPage.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAIAgentChat.ts
  frontend/src/services/aiAgentService.ts
  frontend/src/services/index.ts
  frontend/src/types/aiAgent.ts
  frontend/src/types/index.ts
Due: local-eslint

refactor: replace mock meal and chat data with integration-ready sources
  frontend/src/components/StatsPage.tsx
Due: local-eslint

feat: connect AI assistant to backend sessions and add chat management UI
  backend-spring/build.gradle
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/controller/AssistantController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/AssistantChatRequest.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/AssistantChatResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/AssistantMessageHistoryItem.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/AssistantPersonaResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/AssistantSessionResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/FastApiChatMessageRequest.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/FastApiChatMessageResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/FastApiCreateSessionRequest.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/FastApiMessageHistoryItem.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/FastApiPersonaResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/dto/FastApiSessionResponse.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/assistant/service/AssistantService.java
  backend-spring/src/main/resources/application.properties
  frontend/.env.example
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/common/Toast/Toast.tsx
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/hooks/useAIAgentChat.ts
  frontend/src/hooks/useNutritionTargets.ts
  frontend/src/hooks/usePreferences.ts
  frontend/src/pages/MealRecording/FoodSearchPage.tsx
  frontend/src/pages/Recommendation/SettingsPage.tsx
  frontend/src/services/aiAgentService.ts
  frontend/src/services/api.ts
  frontend/src/services/foodService.ts
  frontend/src/services/preferenceService.ts
  frontend/src/services/profileService.ts
  frontend/src/services/recommendationService.ts
  frontend/src/styles/globals.css
  frontend/src/types/aiAgent.ts
  frontend/src/types/food.ts
  frontend/src/types/index.ts
  frontend/src/types/profile.ts
  frontend/src/types/recommendation.ts
  frontend/src/utils/foodSearchRanking.ts
  frontend/vite.config.ts
Due: local-eslint

test: 서비스 레이어 단위 테스트 109개 추가
  backend-spring/src/test/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandlerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/meal/service/FoodServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/meal/service/MealServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/preference/service/PreferenceServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/profile/service/NutritionCalculatorServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/profile/service/ProfileServiceTest.java
Due: none

fix: CodeRabbit 피드백 반영 - BigDecimal 반올림 및 오타 수정
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/FoodService.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/meal/service/MealServiceTest.java
Due: none

test: UserService, RecommendationService 단위 테스트 + 컨트롤러 슬라이스 테스트 추가 (총 159개)
  backend-spring/src/test/java/com/NurtiAgent/Onboard/food/controller/FoodControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/meal/controller/MealControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/recommendation/service/RecommendationServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/user/controller/UserControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/user/service/UserServiceTest.java
  backend-spring/src/test/resources/application.properties
Due: none

test: 서비스/컨트롤러 레이어 단위 테스트 159개 추가 (#21)
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/FoodService.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandlerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/food/controller/FoodControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/meal/controller/MealControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/meal/service/FoodServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/meal/service/MealServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/preference/service/PreferenceServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/profile/service/NutritionCalculatorServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/profile/service/ProfileServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/recommendation/service/RecommendationServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/user/controller/UserControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/user/service/UserServiceTest.java
  backend-spring/src/test/resources/application.properties
Due: none

refactor: 커스텀 예외 클래스 도입 및 서비스 레이어 예외 통일
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandler.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/exception/DietaryPreferenceNotFoundException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/exception/DuplicateFoodException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/exception/MealNotFoundException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/exception/UnauthorizedException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/exception/UserProfileNotFoundException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/MealService.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/preference/service/PreferenceService.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/ProfileService.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/service/RecommendationService.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandlerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/preference/service/PreferenceServiceTest.java
Due: none

refactor: GuestId ArgumentResolver로 세션 검증 중복 제거
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/annotation/GuestId.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/CorsConfig.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/resolver/GuestIdArgumentResolver.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/controller/MealController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/preference/controller/PreferenceController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/controller/ProfileController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationController.java
Due: none

refactor: 커스텀 예외 통일 + 세션 검증 중복 제거 (#22)
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/annotation/GuestId.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/CorsConfig.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandler.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/exception/DietaryPreferenceNotFoundException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/exception/DuplicateFoodException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/exception/MealNotFoundException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/exception/UnauthorizedException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/exception/UserProfileNotFoundException.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/resolver/GuestIdArgumentResolver.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/controller/MealController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/MealService.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/preference/controller/PreferenceController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/preference/service/PreferenceService.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/controller/ProfileController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/ProfileService.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/service/RecommendationService.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandlerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/preference/service/PreferenceServiceTest.java
Due: none

feat: GitHub Actions CI/CD 워크플로우 추가
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  local-eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  local-ruff-check: any of: ^backend-fastapi/.*\.py$ and \.py$
  local-ruff-format: any of: ^backend-fastapi/.*\.py$ and \.py$
