Repository nutriagentpjt/nutriagentpjt: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint, local-ruff-check, local-ruff-format

local-eslint:
  name: eslint
  entry: npm --prefix frontend run lint
  language: system
  pass_filenames: false

local-ruff-check:
  name: ruff check
  entry: uv run --directory backend-fastapi ruff check . --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: system
  pass_filenames: false

local-ruff-format:
  name: ruff format
  entry: uv run --directory backend-fastapi ruff format . --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: system
  pass_filenames: false

chore: update gitignore
  .gitignore
Due: none

fix: 컴파일 에러 — 바깥쪽 AsyncRequestNotUsableException catch 제거
  backend-spring/src/main/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyController.java
Due: none

fix: Spring SSE 비동기 타임아웃·클라이언트 disconnect 처리
  backend-spring/src/main/java/com/NurtiAgent/Onboard/chat/controller/ChatProxyController.java
  backend-spring/src/main/resources/application.properties
Due: none

feat: 끼니 적합도(meal_time_fit) 스코어링 추가
  backend-fastapi/app/schemas/response.py
  backend-fastapi/app/services/scorer.py
Due: local-ruff-check, local-ruff-format

feat: 끼니별 추천 다양성 개선 (셔플 + 아침 버킷 보정)
  backend-fastapi/app/services/recommendation.py
Due: local-ruff-check, local-ruff-format

fix: /api/ 프리픽스 통일로 SPA 라우팅 충돌 해결
  backend-spring/src/main/java/com/NurtiAgent/Onboard/food/controller/FoodController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/controller/MealController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/preference/controller/PreferenceController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/controller/ProfileController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/user/controller/UserController.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/vision/controller/MealImageUploadController.java
  frontend/nginx/default.conf
  frontend/src/services/foodService.ts
  frontend/src/services/mealService.ts
  frontend/src/services/onboardingService.ts
  frontend/src/services/preferenceService.ts
  frontend/src/services/profileService.ts
  frontend/src/services/recommendationService.ts
  frontend/src/services/sessionService.ts
Due: local-eslint

test: 컨트롤러 테스트 URL에 /api/ 프리픽스 적용
  backend-spring/src/test/java/com/NurtiAgent/Onboard/food/controller/FoodControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/meal/controller/MealControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/user/controller/UserControllerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/vision/controller/MealImageUploadControllerTest.java
Due: none

fix: nginx /api exact-match redirect 추가 (CodeRabbit)
  frontend/nginx/default.conf
Due: none

perf: vision CPU-only torch + BuildKit pip cache mount
  .github/workflows/cd.yml
  backend-fastapi/vision/Dockerfile
Due: none

fix: requirements.txt에서 torch/torchvision 제거 (Dockerfile CPU-only 설치와 충돌 방지)
  backend-fastapi/vision/requirements.txt
Due: none

fix: chatbot profile API prefix
  backend-fastapi/app/chatbot/tools/onboarding.py
Due: local-ruff-check, local-ruff-format

fix: refine meal time grouping and today meals modal scrolling
  frontend/src/components/HomePage.tsx
  frontend/src/components/food/AddFoodModal.tsx
  frontend/src/components/meal-list.tsx
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/hooks/useAIAgentChat.ts
  frontend/src/hooks/useMeals.ts
  frontend/src/pages/MealView/DailyMealViewPage.tsx
  frontend/src/pages/Recommendation/RecommendationPage.tsx
  frontend/src/styles/globals.css
  frontend/src/utils/index.ts
  frontend/src/utils/mealTime.ts
Due: local-eslint

fix: apply coderabbit feedback
  frontend/src/components/HomePage.tsx
  frontend/src/components/food/AddFoodModal.tsx
  frontend/src/components/meal-list.tsx
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/hooks/useAIAgentChat.ts
  frontend/src/pages/Recommendation/RecommendationPage.tsx
  frontend/src/utils/apiError.ts
  frontend/src/utils/index.ts
Due: local-eslint

hotfix: scroll still doesn't work
  frontend/src/components/HomePage.tsx
  frontend/src/layouts/MainLayout.tsx
Due: local-eslint

fix: revert browser scrolls in mobile platforms
  frontend/src/layouts/MainLayout.tsx
  frontend/src/styles/globals.css
Due: local-eslint

hotfix: fix mobile scrolling with onboarding access guards
  frontend/src/app/router/ProtectedRoute.tsx
  frontend/src/components/HomePage.tsx
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/layouts/TabNavigation.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/onboardingAccess.ts
Due: local-eslint

hotfix: follow up onboarding mobile scrolling stability
  frontend/src/components/OnboardingFlow.tsx
Due: local-eslint

fix: add min-h-0 to scroll container
  frontend/src/components/OnboardingFlow.tsx
Due: local-eslint

hotfix: stabilize onboarding wheel-scrolling on desktop
  frontend/src/components/OnboardingFlow.tsx
Due: local-eslint

hotfix: skip duplicate onboarding creation when profile already exists
  frontend/src/components/HomePage.tsx
  frontend/src/components/OnboardingFlow.tsx
Due: local-eslint

fix: make onboarding save idempotent for existing profiles
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/ProfileService.java
Due: none

fix: prevent HomePage autocomplete update loop
  frontend/src/components/HomePage.tsx
Due: local-eslint

fix: request single-mode meal recommendations from FastAPI
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/service/RecommendationService.java
Due: none

Revert "fix: make onboarding save idempotent for existing profiles"
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/ProfileService.java
Due: none

Revert "fix: request single-mode meal recommendations from FastAPI"
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/service/RecommendationService.java
Due: none

fix: surface empty recommendation responses and remove AI mock fallback
  frontend/src/components/recommendation/AIRecommendations.tsx
  frontend/src/services/aiAgentService.ts
Due: local-eslint

fix: request single-mode recommendations for home AI meals
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/service/RecommendationService.java
Due: none

fix: harden recommendation entry and onboarding follow-up state sync
  frontend/src/components/HomePage.tsx
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/recommendation/AIRecommendations.tsx
Due: local-eslint

chore: trim branch changes down to recommendation fixes
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/OnboardingFlow.tsx
Due: local-eslint

fix: apply coderabbit feedback
  frontend/src/components/OnboardingFlow.tsx
Due: local-eslint

fix: Claude Sonnet 4 tool input XML 잔재 정제 (_sanitize_tool_input)
  backend-fastapi/app/chatbot/engine.py
  backend-fastapi/tests/__init__.py
  backend-fastapi/tests/test_sanitize_tool_input.py
Due: local-ruff-check, local-ruff-format

feat: delete duplicate food search after vision candidate selection
  frontend/src/components/AIAgentPage.tsx
  frontend/src/pages/MealRecording/ImageUploadPage.tsx
Due: local-eslint

fix: apply coderabbit feedback
  backend-fastapi/app/chatbot/engine.py
  backend-fastapi/tests/test_sanitize_tool_input.py
Due: local-ruff-check, local-ruff-format

fix: FastAPI 응답 null 처리 및 500 내부 메시지 노출 차단
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandler.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/service/RecommendationService.java
Due: none

fix: align home meal summary with manual entries and improve meal edit nutrition inputs
  frontend/src/components/HomePage.tsx
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/food/AddFoodModal.tsx
  frontend/src/components/profile/PersonalSettingsDiet.tsx
  frontend/src/pages/MealRecording/ImageUploadPage.tsx
Due: local-eslint

Preserve saved meal data and validate meal calorie range
  frontend/src/components/food/AddFoodModal.tsx
  frontend/src/components/profile/PersonalSettingsDiet.tsx
Due: local-eslint

fix: improve manual meal editing and tighten nutrition input validation
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/profile/PersonalSettingsDiet.tsx
Due: local-eslint

fix: CI 실패 수정 (테스트 assertion + ruff 의존성)
  backend-fastapi/pyproject.toml
  backend-fastapi/tests/test_sanitize_tool_input.py
  backend-fastapi/uv.lock
  backend-spring/src/test/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandlerTest.java
Due: local-ruff-check, local-ruff-format

fix: pre-commit ruff 경로 문제 및 기존 lint 오류 수정
  .pre-commit-config.yaml
  backend-fastapi/.docs/chatbot.openapi.json
  backend-fastapi/alembic/env.py
  backend-fastapi/alembic/versions/1f4c8072c12f_add_chat_sessions_and_chat_messages_.py
  backend-fastapi/alembic/versions/974374726f59_add_food_profile.py
  backend-fastapi/app/api/deps.py
  backend-fastapi/app/chatbot/engine.py
  backend-fastapi/app/chatbot/router.py
  backend-fastapi/app/chatbot/schemas.py
  backend-fastapi/app/chatbot/tools/onboarding.py
  backend-fastapi/app/chatbot/tools/recommend.py
  backend-fastapi/app/core/config.py
  backend-fastapi/app/core/database.py
  backend-fastapi/app/models/chat.py
  backend-fastapi/app/models/feedback.py
  backend-fastapi/app/models/food.py
  backend-fastapi/app/scripts/backfill_food_profile.py
  backend-fastapi/app/services/food_filter.py
  backend-fastapi/app/services/nutrition_calculator.py
  backend-fastapi/app/services/recommendation.py
  backend-fastapi/app/services/scorer.py
  backend-fastapi/app/services/user_profile_loader.py
  backend-fastapi/images.jpeg
  backend-fastapi/maxresdefault.jpg
  backend-fastapi/vision/app/db.py
  backend-fastapi/vision/app/main.py
  backend-fastapi/vision/app/model.py
  backend-fastapi/vision/app/retrieval.py
  backend-fastapi/vision/scripts/init_db.py
  backend-fastapi/vision/scripts/load_embeddings.py
  backend-fastapi/vision/scripts/load_foods.py
  backend-fastapi/vision/scripts/test_inference.py
Due: local-ruff-check, local-ruff-format

chore: 실수로 포함된 이미지·docs 파일 제거
  backend-fastapi/.docs/chatbot.openapi.json
  backend-fastapi/images.jpeg
  backend-fastapi/maxresdefault.jpg
Due: none

Path conditions:
  local-eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  local-ruff-check: any of: ^backend-fastapi/.*\.py$ and \.py$
  local-ruff-format: any of: ^backend-fastapi/.*\.py$ and \.py$
