Repository nutriagentpjt/nutriagentpjt: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint, local-ruff-check, local-ruff-format

local-eslint:
  name: eslint
  entry: npm --prefix frontend run lint
  language: system
  pass_filenames: false

local-ruff-check:
  name: ruff check
  entry: uv run --directory backend-fastapi ruff check . --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: system
  pass_filenames: false

local-ruff-format:
  name: ruff format
  entry: uv run --directory backend-fastapi ruff format . --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: system
  pass_filenames: false

fix: 챗봇 빈 추천 결과 hallucination 및 마크다운 출력 방지
  backend-fastapi/app/chatbot/engine.py
  backend-fastapi/app/chatbot/tools/recommend.py
Due: local-ruff-check, local-ruff-format

fix: NutritionTargetNotFoundException을 404로 수정, 식단 설정 없는 유저 프로필 조회 허용
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandler.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/profile/service/ProfileService.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/common/config/GlobalExceptionHandlerTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/profile/service/ProfileServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationControllerTest.java
Due: none

fix: 챗봇이 도구 호출 없이 온보딩 상태 추측·hallucination 방지
  backend-fastapi/app/chatbot/engine.py
Due: local-ruff-check, local-ruff-format

fix: stabilize AI agent layout and polish meal plate card overflow
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/ai-agent/MealPlateCard.tsx
  frontend/src/layouts/MainLayout.tsx
Due: local-eslint

fix: apply coderabbit feedback
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/ai-agent/MealPlateCard.tsx
Due: local-eslint

feat: 첫 메시지 기반 세션 제목 LLM 자동 생성
  backend-fastapi/app/chatbot/engine.py
Due: local-ruff-check, local-ruff-format

hotfix: sync home nutrition targets after profile updates
  frontend/src/components/HomePage.tsx
  frontend/src/components/profile/shared.ts
Due: local-eslint

fix: 동일 트랜잭션 내 메시지 created_at 중복으로 인한 채팅 순서 뒤섞임 수정
  backend-fastapi/app/chatbot/engine.py
  backend-fastapi/app/chatbot/router.py
Due: local-ruff-check, local-ruff-format

fix: use Seoul date boundaries for meal records and streamline vision candidate flow
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/MealService.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationController.java
  frontend/src/pages/MealRecording/ImageUploadPage.tsx
Due: local-eslint

refactor: centralize backend Seoul timezone policy
  backend-spring/src/main/java/com/NurtiAgent/Onboard/common/constants/TimeZoneConstants.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/meal/service/MealService.java
  backend-spring/src/main/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationController.java
Due: none

test: align meal and recommendation date tests with Seoul timezone policy
  backend-spring/src/test/java/com/NurtiAgent/Onboard/meal/service/MealServiceTest.java
  backend-spring/src/test/java/com/NurtiAgent/Onboard/recommendation/controller/RecommendationControllerTest.java
Due: none

fix: route meal image upload close actions back home
  frontend/src/pages/MealRecording/ImageUploadPage.tsx
Due: local-eslint

feat: add onboarding logo branding and improve favorites UX
  frontend/public/nutriagent-logo-green.png
  frontend/public/nutriagent-logo-source.png
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/HomePage.tsx
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/common/NutriAgentLogo.tsx
Due: local-eslint

fix : remove dead code
  frontend/src/components/OnboardingFlow.tsx
  frontend/src/components/common/NutriAgentLogo.tsx
Due: local-eslint

docs: update project README
  README.md
  docs/nutriagent-architecture-poster.png
  docs/nutriagent-service-poster.png
Due: none

docs: simplify README layout
  README.md
Due: none

feat: refine home branding and show selected AI persona
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/HomePage.tsx
  frontend/src/components/common/NutriAgentLogo.tsx
Due: local-eslint

fix: apply coderabbitai feedback
  frontend/src/components/AIAgentPage.tsx
  frontend/src/components/HomePage.tsx
Due: local-eslint

Path conditions:
  local-eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  local-ruff-check: any of: ^backend-fastapi/.*\.py$ and \.py$
  local-ruff-format: any of: ^backend-fastapi/.*\.py$ and \.py$
